<strong>Hello, {{ provider }} </strong>
<p>There's been an appointment cancellation, check out the details below: </p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <small>
    The time period is available for new appointments.
  </small>
</p>
